<md-dialog>
    <form ng-cloak>
 
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Atualizar limite de crédito</h2>
            </div>
        </md-toolbar>
 
        <md-dialog-content>
            <div class="md-dialog-content">
 
                <md-input-container class="md-block">
                    <label>Id</label>
                    <input ng-model="customer.id" disabled>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Nome</label>
                    <input ng-model="customer.name" disabled>
                </md-input-container>

                <md-input-container class="md-block">
                    <label>Novo limite de crédito</label>
                    <input ng-model="customer.creditLine">
                </md-input-container>

            </div>
        </md-dialog-content>
 
        <!-- dialog box buttons -->
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">Cancelar</md-button>
            <md-button ng-click="updateCustomer()" class="md-primary">Salvar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>